/* ========================= */

// libraries

@use "sass:math";

/* ========================= */

// functions

@function prc($pxOne, $pxTwo) {
    $result: math.div($pxOne, $pxTwo) * 100%;
    @return $result;
}

@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}

@function em($px) {
    $result: math.div($px, 16) + em;
    @return $result;
}

/* ========================= */

// fonts

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap");

/* ========================= */

// constants

// default font
$fontFamily: "Ubuntu", sans-serif;
$fontSize: rem(18);

// main colors
$mainColor: #fff;
$greenColor: #23b123;
$bgColor: #263238;

// min screen width
$minWidth: 320;
// max screen width of template
$maxWidth: 1920;
// max width of container
$maxWidthContainer: 1430;
// container padding
$containerPadding: 30;
// containter width
$containerWidth: $maxWidthContainer + $containerPadding;

// breakpoints
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

// adaptive type
$responsiveType: 1;

/* ========================= */

// mixins

@mixin adaptiveValue($property, $startSize, $minSize, $startWidth: -1, $endWidth: -1, $keepSize: -1) {
    $addSize: $startSize - $minSize;
    @if ($endWidth==-1) {
        $endWidth: 320;
    }
    @if ($startWidth==-1) {
        $startWidth: $maxWidth;
    }
    @if ($keepSize==1) {
        #{$property}: $startSize + px;
        @media (max-width: #{$startWidth + px}) {
            #{$property}: calc(
                #{$minSize + px} + #{$addSize} * ((100vw - #{$endWidth + px}) / #{$startWidth - $endWidth})
            );
        }
    } @else if ($keepSize==2) {
        #{$property}: $startSize + px;
        @media (max-width: #{$startWidth + px}) and (min-width: #{$endWidth + px}) {
            #{$property}: calc(
                #{$minSize + px} + #{$addSize} * ((100vw - #{$endWidth + px}) / #{$startWidth - $endWidth})
            );
        }
    } @else {
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$endWidth + px}) / #{$startWidth - $endWidth}));
    }
}

/* ========================= */

@import "_null";

/* ========================= */

@if ($responsiveType==1) {
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($containerWidth);
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($containerWidth);
        } @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.page {
    flex: 1 1 auto;
}

/* ========================= */

@import "_header";

/* ========================= */

@import "_footer";

/* ========================= */
