<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container"></div>
        </header>
        <main class="page">
            <section class="page__main main">
                <div class="main__container"></div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__container"></div>
        </footer>
    </div>
    <script src="../static/js/script.js"></script>
</body>

</html>